body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  max-width: fit-content;
  float: left;
  position: absolute;
}

.navbar {
  display: block;
}

.menu-links {
  display: flex;
  object-fit: cover;
  padding: 0;
  margin: auto;
}

.active {
  padding: 0;
  border: none;
}

.navbar ul {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  row-gap: 2rem;
}

.navbar ul li {
  padding: 0;
  text-align: center;
}
.navbar ul li:last-child {
  grid-column: 2;
  grid-row: 1;
  order: 1;
  font-weight: bold;
  color: #0065fc;
  text-align: right;
}

.navbar ul li:first-child {
  grid-column: 1;
  grid-row: 2;
  order: 2;
  padding: 0;
  border-bottom: 2px solid #0065fc;
  padding-bottom: 5px;
  border-top: none;
}

.navbar ul li:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
  order: 3;
  padding: 0;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 5px;
  border-top: none;
}

.search {
  display: flex;
  flex-direction: column;
}

.search-bar {
  grid-template-columns: 10% 80% 10%;
}

.search-text {
  line-height: normal;
}

#map-marker {
  /* icone barre recherche */
  grid-column: 1;
}

#recherche {
  /* barre rechercher */
  grid-column: 2;
}

#search-text-btn {
  /* bouton rechercher */
  display: none;
}

#search-btn {
  display: inline;
  color: white;
  background-color: #0065fc;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-left: -5px;
}


.filtres {
  display:flex;
  flex-direction: column;
  list-style: none;
  padding-top: 2rem;
  text-align: left;
}

.filtres ul {
  display:inline-block;
}

#filtre-span {
  margin-left: 0;
  padding-left: 0;
  margin-right: 5px;
  font-size: 18px;
}

.filtres ul li span {
  color: #0065fc;
  padding: 6px;
  margin-right: 0.5rem;
  background-color: #deebff;
  border-radius: 100%;
  text-align: center;
}

.filtres ul li span i {
  height: fit-content;
  width: 24px;
}

.filtres ul li {
  display: inline-block;
  text-align: left;
  width:fit-content;
  height:fit-content;
  border-left-style: none;
  margin: 1rem;
  margin-left: 0;
  font-size: 14px;
}

.main {
  display: flex;
  flex-direction: column;
}

.left-main {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  order: 2;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.right-main {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 0;
  text-align: center;
  justify-content: center;
  order: 1;
  margin: -1rem;
  margin-top: 1rem;
  padding-top: 1rem;
}

.right-main article {
  width: auto;
  height: auto;
  margin: auto;
  max-height: 175px;
  border-radius: 20px;
  background: white;
  padding: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 33%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  margin-bottom: 1rem;
}

.right-main article img {
  width: 100%;
  height: 175px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.right-main article h4 {
  grid-column: 2;
  grid-row: 1;
}

.right-main article p {
  font-weight: lighter;
  grid-column: 2;
  grid-row: 2;
}

.right-main article span {
  grid-column: 2;
  grid-row: 3;
}

.activites {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.left-activites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.right-activites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.activites .right article {
  width: 100%;
  max-width: 356px;
  height: 225px;
  border-radius: 20px;
  background: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

.activites .left article {
  width: 100%;
  max-width: 356px;
  height: 225px;
  border-radius: 20px;
  background: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

.activites img {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

#vieux-port {
  height: 225px;
}

#vieux-port img {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

#vieux-port p {
  grid-column: 1;
  grid-row: 2;
  padding: 5px;
  text-align: left;
}

#calanques {
  height: 225px;
}

#calanques p {
  grid-column: 1;
  grid-row: 2;
  padding: 5px;
  text-align: left;
}

#calanques img {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: auto;
  width: 100%;
  text-align: left;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.left-footer ul {
  height: fit-content;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom:1rem;
}

.center-footer ul {
  height: fit-content;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom:1rem;
}

.right-footer ul {
  height: fit-content;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

