body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.navbar ul li a {
  color: #0065fc;
  font-weight: bold;
  float: none;
  width: auto;
  margin-left: 10px;
}

.disabled {
  display: none;
}

.active {
  display: none;
}

.filtres ul li {
  display: block;
}

.filtres span {
  position: absolute;
  left: 0px;
}
